* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
svg {
  max-width: 100%;
  display: block;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  display: block;
}

:focus,
:active {
  outline-color: transparent;
}

button,
input {
  font: inherit;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
