@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap");

@font-face {
  font-family: "poppins-regular";
  src: url("../../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}
