$ff-poppins-reg: "poppins-regular";
$ff-jakarta: "Plus Jakarta Sans", sans-serif;

// colors
$bg-primary: #fff;
$bg-accent-light: #e8db84;
$bg-accent-dark: #052a44;

$text-primary: #000000;
$text-secondary: #071210;
$text-tertiary: #fff;
$text-accent-light: #e8db84;
$text-accent-dark: #052a44;

$shadow: #00000014;

$transition-speed: 0.3s;

$fs-heading: 4.8rem;
$fs-heading-m: 3.2rem;
$fs-heading-secondary: 4.2rem;
$fs-heading-secondary-m: 2.8rem;

$fs-primary: 1.8rem;
$fs-primary-m: 1.6rem;
$fs-semiLight: 1.6rem;
$fs-light: 1.4rem;
$fs-light-m: 1.4rem;
