@use "./base/reset";
@use "./abstracts/variables";
@use "./layout/header";
@use "./layout/hero";
@use "./layout/about";
@use "./layout/services";
@use "./layout/stories";
@use "./layout/reviews";
@use "./layout/contact";
@use "./layout/footer";

html {
  // 16*62.5% =10px
  font-size: 62.5%;
}

body {
  font-family: variables.$ff-poppins-reg;
  font-size: variables.$fs-primary-m;
}
